body{background-color:yellowgreen;}
.stopka{position: absolute;
    bottom: 0;
    position: center;
    }
a:hover{background-color: dimgrey;color: whitesmoke;transition:all 1s}
.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

html {
    scroll-behavior: smooth;
}
